.about-us{
    width: 100%;
    height: 900px;
    margin-top: 75px;
    background-color: $color-3;
   & .container{
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   & .description{
    width: 581px;
    margin: 38px 0 26px 0;
    font-family: $font-roboto;
    font-size: var(--fz-1);
    text-align: center;
    line-height: 17.58px;
   }
   }
}

@media  only screen and (max-width:980px) {
    .about-us{
        height: 600px;
        transition: 0.5s;
       & .container{
       & .description{
        width: 500px;
       }
       }
    }
}
@media  only screen and (max-width:780px) {
    .about-us{
       & .container{
       & .description{
        width: 400px;
       }
       }
    }
}
@media  only screen and (max-width:480px) {
    .about-us{
       & .container{
       & .description{
        width: 300px;
       }
       }
    }
}