.about-us{
    width: 100%;
    max-height: 900px;
    min-height: 500px;
    height: 47vw;
    margin-top: 75px;
    background-color: $color-3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   & .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   & .description{
    max-width: 581px;
    min-width: 250px;
    width: 100%;
    margin: 38px 0 26px 0;
    font-family: $font-roboto;
    font-size: var(--fz-1);
    text-align: center;
    line-height: 17.58px;
   }
   }
}

@media  only screen and (max-width:980px) {
    .about-us{
        transition: 0.5s;
       & .container{
       & .description{
       }
       }
    }
}
@media  only screen and (max-width:780px) {
    .about-us{
       & .container{
       & .description{

       }
       }
    }
}
@media  only screen and (max-width:480px) {
    .about-us{
       & .container{
       & .description{

        padding: 0 15px;
       }
       }
       & .btn{
        width: 150px;
        height: 40px;

       }
    }
}