.feature-products{
    margin-top: 86px;
    &__list{
        display: flex;
        margin: 32px auto;
    }
    &__item{
        max-width: 580px;
        width: 100%;
        &.left{
            margin-right: 32px;
            background-color: $color-3;
            border-radius: 10px;
        }
        &.right{
            display: flex;
            flex-direction: column;
            gap: 32px;
        }
    }
    &__img{
        padding-top: 100%;
    }
    &__top{
        display: flex;
        flex-direction: row;
        gap: 32px;
        &--right, &--left{
            max-width: 274px;
            width: 100%;
            background-color: $color-3;
            border-radius: 10px;
        }
        .img{
            padding-top: 100%;
        }
    }
    &__bottom{
        max-width: 580px;
        width: 100%;
        border-radius: 10px;
        background-color: $color-3;
        .img{
            padding-top: 47.2413793103%;
        }
    }
}

@media  only screen and (max-width:789px){
    .feature-products{
        &__list{
            display: flex;
            flex-direction: column;
            gap: 32px;
        }
        &__item{
           
            &.left{
             
            }
            &.right{
             
            }
        }
    }
  }

  @media only screen and ( max-width:480px) {
    .feature-products{
        margin-top: 60px;
        &__list{
            gap: 22px;
            margin: 22px auto;
        }
        &__item{

            &.left{
                margin-right: 22px;

            }
            &.right{

                gap: 22px;
            }
        }
        &__img{

        }
        &__top{
            gap: 22px;
            &--right, &--left{

            }
            .img{

            }
        }
        &__bottom{

            .img{

            }
        }
    }
  }