.header{
    position: fixed;
    z-index: 9999;
    height: 80px;
    max-width: 1920px;
    width: 100%;
    background-color: $while;
    &-main{
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 10px 0;
        & .menu{
            gap: 0 40px;
            // &-link:not(:last-child):hover{
            //     color: white;     
            // }
            &-link{
                color: black;
                & span{
                    margin-left: 14px;
                    padding: 0px 5px;    
                    background-color: $black;
                    color: $while;
                    font-size: 14px;
                    font-weight: var(--fw-5);
                    border-radius: 12px;
                }
            }
            // &-item:not(:last-child):hover{
            //     border-bottom: 2px solid black;
            // }
        }
    }   
}
@media  only screen and (max-width:1100px) {
 .header{
    &-main{
        & .menu{
            gap: 0 25px;
        }
    }
 }
}
@media  only screen and (max-width:920px) {
    .header{

       &-main{
            & .navmobile{
                transition: 1s;
                transform: translate(0, 225px) !important;
                z-index: 10;
                box-shadow: 0px 10px 10px -17px #111;  
            }
           & .menu{
               display: block;
               width: 100%;
               flex-direction: column;
               align-items: flex-start;
               position: absolute;
               transition: 1s;
               transform: translate(0, -500px);
               right: 0;
               background-color: $while;
               z-index: 10;
               &-item{
                padding: 20px 0;
                margin: 0 auto;
                width: 80%;
                text-align: left;
               }
           }
       }
    }
   }
