.our-products {
    margin-top: 150px;
    & h3 {
        font-size: var(--fz-5);
        font-weight: var(--fw-5);
        text-align: center;
    }
    & .our-products--menu {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-3;
        margin: 30px auto 32px auto;
        height: 64px;
        border-radius: 10px;
        & .menu {
            gap: 128px !important;
            height: 100%;
            
            &-item {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                
            }
            &-link {
                color: $color-2;
                font-size: var(--fz-3);
                line-height: 21.94px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        
    }
    & .list-products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 311px 311px;
        gap: 33px;
        & .product-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & .item-img {
                max-width: 376px;
                width: 100%;
                height: 247px;
                border-radius: 10px;
                background-color: $color-3;
                margin-bottom: 16px;
            }
            & .item-tile{
                font-family: $font-montserrat;
                font-size:var(--fz-4) ;
                font-weight: var(--fw-5);
                line-height: 26px;
                color: $color-1;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* number of lines to show */
                line-clamp: 1; 
                -webkit-box-orient: vertical;  
            }
            & .item-price{
            line-height: 18.29px;
                // padding-top:10px ;
            }
        }
    }
}
@media  only screen and (max-width:1500px) {
    .our-products {
        & h3 {
  
        }
        & .our-products--menu {
            
            & .menu {
                gap: 100px !important;
                &-item {
                }
            }
            &-link {
            }
        }
        & .list-products {
            grid-template-columns: 1fr 1fr;
            & .product-item {
                & .item-img {
                    max-width: 100% !important;
                }
                & .item-tile{
                }
            }
        }
    }

}
@media  only screen and (max-width:980px) {
    .our-products {
        & h3 {

        }
        & .our-products--menu {
        background-color:$while !important;

            & .menu {

            }
            &-link {
            }
        }
        & .list-products {
            grid-template-columns: 1fr;
            & .product-item {
                & .item-img {
                    
                }
                & .item-tile{
                }
            }
        }
    }
}
.scroll::-webkit-scrollbar {
    display: block; }
.scroll {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
@media  only screen and (max-width:480px) {
    .our-products{
        margin-top: 80px;
    & .our-products--menu {
        & .menu {
            gap: 50 !important;
            height: 100%;
        }
    }
}

    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        font-size: 20px !important;
      }
      .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        font-size: 20px !important;
      }
      
}