@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&family=Poppins:ital,wght@0,400;0,600;0,700;1,300&family=Roboto:wght@400;700&display=swap");
.swiper {
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100% !important;
}

.swiper-button-prev {
  color: black !important;
  left: 18.958vw !important;
}

.swiper-button-next {
  color: black !important;
  right: 18.958vw !important;
}

.swiper-pagination-bullet {
  background-color: rgb(70, 70, 70) !important;
}

.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 32px !important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  font-size: 25px !important;
  line-height: 0 !important;
  width: 0 !important;
}

.swiper-button-prev, .swiper-button-next {
  width: 16px !important;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  font-size: 25px !important;
  line-height: 0 !important;
}

@media only screen and (max-width: 1500px) {
  .swiper-button-prev {
    left: 10vw !important;
  }
  .swiper-button-next {
    right: 10vw !important;
  }
}
@media only screen and (max-width: 1200px) {
  .swiper-button-prev {
    left: 8vw !important;
  }
  .swiper-button-next {
    right: 8vw !important;
  }
}
:root {
  --fw-1: 300;
  --fw-2: 400;
  --fw-3: 500;
  --fw-4: 600;
  --fw-5: 700;
  --fz-1: 15px;
  --fz-2: 16px;
  --fz-3: 18px;
  --fz-4: 20px;
  --fz-5: 32px;
}
@media screen and (max-width: 1000px) {
  :root {
    --fz-1: 12px;
    --fz-2: 14px;
    --fz-3: 16px;
    --fz-4: 18px;
    --fz-5: 25px;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: var(--fw-1);
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

:root {
  --fw-1: 300;
  --fw-2: 400;
  --fw-3: 500;
  --fw-4: 600;
  --fw-5: 700;
  --fz-1: 15px;
  --fz-2: 16px;
  --fz-3: 18px;
  --fz-4: 20px;
  --fz-5: 32px;
}
@media screen and (max-width: 1000px) {
  :root {
    --fz-1: 12px;
    --fz-2: 14px;
    --fz-3: 16px;
    --fz-4: 18px;
    --fz-5: 25px;
  }
}

body {
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
}

.container {
  max-width: 1196px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.active {
  font-weight: var(--fw-5);
  border-bottom: 4px solid #000000;
}
.active .menu-link {
  color: #000000 !important;
}

.title {
  font-size: var(--fz-5);
  font-weight: var(--fw-5);
  text-align: center;
}

.btn {
  width: 172px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: var(--fz-1);
  color: #ffffff;
  background-color: #404040;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.nav-mobile {
  display: none;
}
.nav-mobile span {
  display: block;
  width: 30px;
  height: 5px;
  margin: 5px 0;
  border-radius: 3px;
  background-color: #000000;
}

.menu {
  display: flex;
  align-items: center;
}
.menu-link {
  font-size: var(--fz-1);
  text-decoration: none;
}

@media only screen and (max-width: 920px) {
  .nav-mobile {
    display: block;
  }
}
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 80px;
  width: 100%;
  background-color: #ffffff;
}
.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.header-main .menu {
  gap: 0 40px;
}
.header-main .menu-link {
  color: black;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.header-main .menu-link span {
  margin-left: 15px;
  width: 24px;
  height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
  font-weight: var(--fw-5);
  border-radius: 100%;
}
.header-main .menu-item {
  font-weight: 400;
  line-height: 18.29px;
}
.header-main .menu-item:last-child {
  padding-left: 15px;
}

@media only screen and (max-width: 1100px) {
  .header-main .menu {
    gap: 0 25px;
  }
}
@media only screen and (max-width: 920px) {
  .header-main .navmobile {
    transition: 1s;
    transform: translate(0, 0) !important;
    z-index: 10;
    box-shadow: 0px 10px 10px -17px #111;
  }
  .header-main .menu {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    transition: 1s;
    transform: translate(0, -500px);
    right: 0;
    top: 80px;
    background-color: #ffffff;
    z-index: 10;
  }
  .header-main .menu-item {
    padding: 20px 0;
    margin: 0 auto;
    width: 80%;
    text-align: left;
  }
  .header-main .menu-item:last-child {
    padding-left: 0;
  }
}
.banner {
  max-height: 800px;
  width: 100%;
  max-height: 800px;
  min-height: 500px;
  height: 41.667vw;
  background-color: #E1E1E1;
}
.banner .title-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  position: absolute;
  left: 24.271vw;
  margin-bottom: 19px;
  text-align: left;
}
.banner .title-slide h1 {
  font-size: 48px;
  font-weight: var(--fw-5);
  line-height: 59px;
  margin-bottom: 16px;
}
.banner .title-slide p {
  max-width: 487px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: var(--fw-2);
  line-height: 19px;
}

@media only screen and (max-width: 920px) {
  .banner {
    transition: 0.5s;
  }
  .banner .title-slide {
    margin-bottom: 0;
  }
  .banner .title-slide h1 {
    font-size: 30px;
    font-weight: var(--fw-5);
  }
  .banner .title-slide p {
    width: 50vw;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: var(--fw-2);
  }
}
@media only screen and (max-width: 768px) {
  .banner {
    transition: 0.5s;
  }
  .banner .title-slide h1 {
    margin-bottom: 5px;
    line-height: 30px;
  }
  .banner .title-slide p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
@media only screen and (max-width: 480px) {
  .banner .title-slide {
    left: 20vw;
  }
  .banner .title-slide h1 {
    font-size: 25px;
  }
  .banner .title-slide p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
.feature-products {
  margin-top: 86px;
}
.feature-products__list {
  display: flex;
  margin: 32px auto;
}
.feature-products__item {
  max-width: 580px;
  width: 100%;
}
.feature-products__item.left {
  margin-right: 32px;
  background-color: #E1E1E1;
  border-radius: 10px;
}
.feature-products__item.right {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.feature-products__img {
  padding-top: 100%;
}
.feature-products__top {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.feature-products__top--right, .feature-products__top--left {
  max-width: 274px;
  width: 100%;
  background-color: #E1E1E1;
  border-radius: 10px;
}
.feature-products__top .img {
  padding-top: 100%;
}
.feature-products__bottom {
  max-width: 580px;
  width: 100%;
  border-radius: 10px;
  background-color: #E1E1E1;
}
.feature-products__bottom .img {
  padding-top: 47.2413793103%;
}

@media only screen and (max-width: 789px) {
  .feature-products__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
@media only screen and (max-width: 480px) {
  .feature-products {
    margin-top: 60px;
  }
  .feature-products__list {
    gap: 22px;
    margin: 22px auto;
  }
  .feature-products__item.left {
    margin-right: 22px;
  }
  .feature-products__item.right {
    gap: 22px;
  }
  .feature-products__top {
    gap: 22px;
  }
}
.our-products {
  margin-top: 150px;
}
.our-products h3 {
  font-size: var(--fz-5);
  font-weight: var(--fw-5);
  text-align: center;
}
.our-products .our-products--menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E1E1E1;
  margin: 30px auto 32px auto;
  height: 64px;
  border-radius: 10px;
}
.our-products .our-products--menu .menu {
  gap: 128px !important;
  height: 100%;
}
.our-products .our-products--menu .menu-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-products .our-products--menu .menu-link {
  color: #656565;
  font-size: var(--fz-3);
  line-height: 21.94px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-products .list-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 311px 311px;
  gap: 33px;
}
.our-products .list-products .product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our-products .list-products .product-item .item-img {
  max-width: 376px;
  width: 100%;
  height: 247px;
  border-radius: 10px;
  background-color: #E1E1E1;
  margin-bottom: 16px;
}
.our-products .list-products .product-item .item-tile {
  font-family: "Montserrat", sans-serif;
  font-size: var(--fz-4);
  font-weight: var(--fw-5);
  line-height: 26px;
  color: #404040;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.our-products .list-products .product-item .item-price {
  line-height: 18.29px;
}

@media only screen and (max-width: 1500px) {
  .our-products .our-products--menu .menu {
    gap: 100px !important;
  }
  .our-products .list-products {
    grid-template-columns: 1fr 1fr;
  }
  .our-products .list-products .product-item .item-img {
    max-width: 100% !important;
  }
}
@media only screen and (max-width: 780px) {
  .our-products .our-products--menu {
    background-color: #ffffff !important;
  }
  .our-products .list-products {
    grid-template-columns: 1fr;
  }
}
.scroll::-webkit-scrollbar {
  display: block;
}

.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media only screen and (max-width: 480px) {
  .our-products {
    margin-top: 80px;
  }
  .our-products .our-products--menu .menu {
    gap: 50 !important;
    height: 100%;
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    font-size: 20px !important;
  }
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    font-size: 20px !important;
  }
}
.about-us {
  width: 100%;
  max-height: 900px;
  min-height: 500px;
  height: 47vw;
  margin-top: 75px;
  background-color: #E1E1E1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-us .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-us .container .description {
  max-width: 581px;
  min-width: 250px;
  width: 100%;
  margin: 38px 0 26px 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--fz-1);
  text-align: center;
  line-height: 17.58px;
}

@media only screen and (max-width: 980px) {
  .about-us {
    transition: 0.5s;
  }
}
@media only screen and (max-width: 480px) {
  .about-us .container .description {
    padding: 0 15px;
  }
  .about-us .btn {
    width: 150px;
    height: 40px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 530px;
  height: 100%;
  background-color: #404040;
}
.footer .footer-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  height: 216px;
  width: 100%;
}
.footer .footer-top__title {
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: var(--fz-2);
  font-weight: var(--fw-5);
  color: #ffffff;
}
.footer .footer-top .footer-top__form {
  display: flex;
  max-width: 616px;
  width: 100%;
  min-width: 260px;
  margin: 0 auto 0;
  background-color: white;
  border-radius: 99px;
  overflow: hidden;
}
.footer .footer-top .footer-top__form input {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 48px;
  padding-left: 40px;
  font-family: "Poppins", sans-serif;
  font-size: var(--fz-1);
  font-weight: var(--fw-1);
  color: #9A9A9A;
  outline: none;
  border: none;
  background: none;
}
.footer .footer-top .footer-top__form input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: var(--fz-1);
  font-weight: var(--fw-1);
  color: #9A9A9A;
}
.footer .footer-top .footer-top__form button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  min-height: 48px;
  padding: 0 40px;
  outline: none;
  background: none;
  right: 0;
  top: 0;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: var(--fz-1);
  font-weight: var(--fw-4);
  cursor: pointer;
  border-radius: 40px;
  transition: 0.3s;
}
.footer .footer-top .footer-top__form button:hover {
  background-color: #000000;
  color: #ffffff;
}
.footer .footer-center {
  width: 100%;
  border-top: 1px solid #656565;
  border-bottom: 1px solid #656565;
  padding: 64px 0;
}
.footer .footer-center__content {
  display: flex;
  flex-direction: row;
  min-height: 106px;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 938px;
}
.footer .footer-center__logo {
  font-family: "Montserrat", sans-serif;
  font-size: var(--fz-5);
  font-weight: var(--fw-5);
  color: #ffffff;
}
.footer .footer-center .footer-center__pages ul {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.footer .footer-center .footer-center__pages ul li:nth-child(1) {
  padding-bottom: 16px;
  color: #9D9D9D;
}
.footer .footer-center .footer-center__pages ul li:nth-child(2) {
  padding: 16px 0;
}
.footer .footer-center .footer-center__media {
  display: flex;
  gap: 16px;
}
.footer .footer-center .footer-center__media .media__item {
  width: 32px;
  height: 32px;
  border: 3px solid #ffffff;
  border-radius: 100px;
}
.footer .footer-bottom {
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: var(--fw-2);
  color: #ffffff;
}

@media screen and (max-width: 780px) {
  .footer {
    max-height: auto;
    width: 100%;
  }
  .footer .footer-top {
    width: 90%;
    margin: 0 auto;
  }
  .footer .footer-center {
    padding: 30px 0;
  }
  .footer .footer-center .footer-center__content {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .footer .footer-top .footer-top__form input {
    padding-left: 20px;
    width: 100%;
    max-height: 38px;
    font-size: var(--fz-1);
  }
  .footer .footer-top .footer-top__form button {
    min-height: 38px;
    padding: 0 20px;
  }
}

/*# sourceMappingURL=app.css.map */
